body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-color:rgb(38, 114, 133);
    
}
h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

